.titleBackground {
  background-color: rgb(0, 25, 76);
}

.header {
  display: flex;
  color: aliceblue;
  align-items: center;
  width: 70%;
  margin-left: 6%;
  margin-right: auto;
  justify-content: space-evenly;
  padding: 1%;
  
}

.notificationBox {
  background-color: rgb(0, 156, 156);
  color: white;
  margin-left: 10%;
  margin-right: 25%;
  padding: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.lowerBox {
  display: flex;

  
}

.frontNewsBox {

  font-weight: 700;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 2%;
  flex: 60%;
  margin-left: 16.5%;
  margin-right: 1%;
}



.sidePanel {
  background-color: rgb(255, 255, 255);
  margin-right: 63.5%;
  

  padding: 1%;
  flex: 40%;
  

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
